[project]
name = "mcp-server"
version = "0.1.0"
description = "This is a simple server for the MCP protocol."
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.128.0",
    "httpx>=0.28.1",
    "mcp[cli]>=1.25.0",
]
